.feedback {
  border-radius: 0 10px 10px 0;
  width: 300px;
  background: #25264d;
  color: #f2f2f2;
  position: fixed;
  min-height: 100px;
  top: 0px;
  left: -320px;
  border-top: 2px solid #000440;
  border-bottom: 2px solid #000440;
  border-left: 2px solid #000440;
  border-right: 20px solid #000440;
  padding: 10px;
  transition: left 1s;
  font-size: 1em;
}
.feedback img {
  float: left;
  margin: 0 10px 0 0;
}
.feedback::after {
  content: 'Обратная связь';
  color: #f2f2f2;
  position: absolute;
  right: -60px;
  bottom: 50px;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}
.feedback:hover {
  left: 0;
}
