body {
background: linear-gradient(#ffffff, #dddddd);
background-size: contain;
color: black;
}

* {
margin: 0;
paddind: 0;
word-wrap: break-word;
font-size: 16px;
}

header {
margin-top: 5px;
background: linear-gradient(#ffffff, #dddddd);
}

.a1 {
background: linear-gradient(#ffffff, #dddddd);
}

.a2 {
background: #dddddd;
margin-bottom: 5px;
}

.navig {
background: #ff0000;
min-width: 40px;
max-width: 150px;
}

button {
margin: 5px;
border-radius: 5px;
background: #00ff00;
}

h1 {
font-size: 38px;
}
h3 {
font-size: 26px;
}
h4 {
font-size: 20px;
}
p, i, b, s {
font-size: 16px;
text-align: left;
}
u {
font-size: 14px;
color: #cccccc;
}
