body {
background: #cc9900;
background-size: contain;
color: #fff;
}

* {
margin: 0;
padding: 0;
word-wrap: break-word;
}

.material-icons.md-26 {
font-size: 26px;
color: #fff;
}

h1 {
font-size: 6em;
}

h3 {
font-size: 3em;
}

p, s, i, u, b {
font-size: 26px;
}

a {
font-size: 26px;
color: #aaaaff;
text-decoration: none;
}
a:visited {
color: #aaffaa;
text-decoration: none;
}
a:hover {
color: #aaaffa;
text-decoration: none;
}
a:active {
color: #aaadda;
text-decoration: none;
}
a:link {
color: #aaaaff;
text-decoration: none;
}

hr {
border: 1px solid #fff;
}

button {
background: #000;
color: #fff;
border: 1px solid #fff;
border-radius: 3px;
}

.title {
background: #660066;
border-radius: 10px;
color: #fff;
margin-top: 10px;
}

.content {
background: #009933;
border-radius: 10px;
color: #fff;
}
