* {
margin: 0px;
padding: 0px;
color: #f2f2f2;
word-wrap: break-word;
}

body {
background: #000000;
background-size: cover;
}

.title {
border-radius: 20px;
width: 100%;
background: #000440;
box-shadow: 0 5px 4px -4px black;
}

h1 {
padding: 5px;
text-align: center;
font-family: Arial Black;
font-size: 70px;
}

h3 {
font-family: cursive;
font-size: 36px;
padding-bottom: 10px;
padding-top: 10px;
}

.block {
margin-top: 15px;
background-color: #25264d;
border-top-left-radius: 0px;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;
width: 94%;
min-height: 500px;
float: right;
}

.links {
margin-top: 15px;
float: left;
}

a {
text-decoration: none;
background: #000440;
padding: 5px;
}

material-icons mt-26 {
font-size: 5em;
padding: 5px;
}

p, b, u, s, i {
font-size: 20px;
padding-left: 10px;
top: 10px;
}

.endblock {
margin-top: 15px;
background-color: #25264d;
border-radius: 20px;
width: 100%;
text-align: center;
float: right;
}

.end {
font-family: monospace;
padding: 5px;
}
