[s8] {
	font-size: 8px;
}
[s9] {
	font-size: 9px;
}
[s10] {
	font-size: 10px;
}
[s11] {
	font-size: 11px;
}
[s12] {
	font-size: 12px;
}
[s14] {
	font-size: 14px;
}
[s16] {
	font-size: 16px;
}
[s18] {
	font-size: 18px;
}
[s20] {
	font-size: 20px;
}
[s22] {
	font-size: 22px;
}
[s24] {
	font-size: 24px;
}
[s26] {
	font-size: 26px;
}
[s28] {
	font-size: 28px;
}
[s30] {
	font-size: 30px;
}
[s32] {
	font-size: 32px;
}
[s34] {
	font-size: 34px;
}
[s36] {
	font-size: 36px;
}
[s48] {
	font-size: 48px;
}
[s64] {
	font-size: 64px;
}
[s72] {
	font-size: 72px;
}
[s84] {
	font-size: 84px;
}
[s96] {
	font-size: 96px;
}
[s108] {
	font-size: 108px;
}
[s128] {
	font-size: 128px;
}
[s144] {
	font-size: 144px;
}
[s192] {
	font-size: 192px;
}
[s216] {
	font-size: 216px;
}
[s236] {
	font-size: 236px;
}
[s244] {
	font-size: 244px;
}
[s256] {
	font-size: 256px;
}
[s288] {
	font-size: 288px;
}
