[s1] {
	font-size: 1px;
}
[s2] {
	font-size: 2px;
}
[s4] {
	font-size: 4px;
}
[s8] {
	font-size: 8px;
}
[s16] {
	font-size: 16px;
}
[s32] {
	font-size: 32px;
}
[s64] {
	font-size: 64px;
}
[s128] {
	font-size: 128px;
}
[s256] {
	font-size: 256px;
}
[s512] {
	font-size: 512px;
}
[s1024] {
	font-size: 1024px;
}
